<h1>
  Gadget Explorer
</h1>
<h2>
  Made with ASP.NET Core & PostgreSQL
</h2>

<h3>The gasd,fgjaroitjg\.lotujfozls58ueehzjso;fkjaepro94;srjg'pvfojwrpeaotzjtpg;fkaeiwpt;kraewppppjdgets:</h3>

<ul>
  <li *ngFor="let g of gadgets">
    {{ g }}
  </li>
</ul>
